# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user

/libertyparser-1.0
/.vs
/sierra-tango-alpha
/sierra-tango-alpha/sierra-tango-alpha.vcxproj.filters
/sierra-tango-alpha/sierra-tango-alpha.vcxproj
/sierra-tango-alpha/sierra-tango-alpha.sln
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15/Browse.VC.opendb
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15/Browse.VC.db
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15/.suo
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15
/sierra-tango-alpha
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/PARSER-9b30a2a7/PARSER.ipch
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/PARSER-9b30a2a7
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/CPM-5b6f37fa/CPM.ipch
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/CPM-5b6f37fa
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e
/.vs/sierra-tango-alpha/v15/Browse.VC.db
/.vs/sierra-tango-alpha/v15/.suo
/.vs/sierra-tango-alpha/v15
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/config
/.vs
/sierra-tango-alpha/sierra-tango-alpha.vcxproj.filters
/sierra-tango-alpha/sierra-tango-alpha.vcxproj
/sierra-tango-alpha/sierra-tango-alpha.sln
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15/Browse.VC.opendb
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15/Browse.VC.db
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15/.suo
/sierra-tango-alpha/.vs/sierra-tango-alpha/v15
/sierra-tango-alpha
/.vs/VSWorkspaceState.json
/.vs/tasks.vs.json
/.vs/slnx.sqlite
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/PARSER-9b30a2a7/PARSER.ipch
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/PARSER-9b30a2a7
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/CPM-5b6f37fa/CPM.ipch
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e/CPM-5b6f37fa
/.vs/sierra-tango-alpha/v15/ipch/AutoPCH/8e4cc18e
/.vs/sierra-tango-alpha/v15/Browse.VC.db
/.vs/sierra-tango-alpha/v15/.suo
/.vs/sierra-tango-alpha/v15
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/config
/.vs
